@media screen and (max-width: 600px) {
    /*Header Section Styles*/
    .header {
        display: flex;
    }

    .header-content {
        display: none;
    }

    .icons {
        display: block;
        padding-top: 35px;
        padding-right: 10px;
        justify-content: center;
        align-items: center;
    }
    /*Banner Section Style*/
    .image {
        position: relative;
    }

    .image img {
        height: 483px;
        object-fit: cover;
        border-radius: 8px;
    }

    .banner {
        padding-top: 10px;
    }

    .banner-section {
        position: absolute;
        margin-top: 0px;
        left: 0;
        padding-right: 50px;
        text-align: center;
        transform: translate(0 , 0);
    }

    .banner-head {
        align-items: center;
        padding-left: 50px;
    }

    .banner-section h3 {
        color: #FFF;
        font-size: 20px;
        align-items: center;
        text-align: center;
        font-weight: 800;
        padding-bottom: 10px;

    }
    .banner-section p {
        color: #FFF;
        align-items: center;
        font-size: 10px;
        font-weight: 400;
    }

    .input-content {
        flex-direction: column;
        padding: 40px;
        margin-left: 50px;
    }

    input {
        height: 30px;
        width: 120px;
        border-radius: 8px;
        border: none;
        text-align: center;
        background-color: #FFF;
    }
    /*Tour Section Styles*/
    .tour-section{
        flex-direction: column;
        margin-top: 0;
    }
    .tour-text, .tour-image{
        width: 100%;
        margin-top: 15px;
    }
    .tour-text h3{
        font-size: 20px;
    }
    .tour-text p{
        font-size: 14px;
    }
    /*Our Destination Section Styles*/
    .destination-text h{
        font-style: normal;
        font-size: 5px;
    }
    .destination-text p{
        padding: 0;
    }
    .destination{
        grid-template-columns: 1fr;
    }
    .first{
        grid-template-columns: 1fr;
    }
    .second{
        grid-template-columns: 1fr;
    }
    .third{
        grid-template-columns: 1fr;
    }
    .img1, .img2, .img3, .img4, .img5, .img6, .img7{
        width: 100%;
        row-gap: 0;
        height: 176px;
    }
    .img-div1{
        position: absolute;
        top: 15%;
        left: 30%;
    }
    .img-div2{
        position: absolute;
        top: 65%;
        left: 32%;
    }
    .img-div3{
        position: absolute;
        top: 34%;
        left: 35%;
    }
    .img-div4{
        position: absolute;
        top: 47%;
        left: 35%;
    }
    .img-div5{
        position: absolute;
        top: 63%;
        left: 35%;
    }
    .img-div6{
        position: absolute;
        top: 77%;
        left: 32%;
    }
    .img-div7{
        position: absolute;
        top: 90%;
        left: 35%;
    }
}