@media screen and (max-width: 600px) {

    /*Header Section Styles*/
    .header {
        display: flex;
    }

    .header-content {
        display: none;
    }

    .icons {
        visibility: inherit;
        padding-top: 35px;
        padding-right: 10px;
        justify-content: center;
        align-items: center;
    }

    /*Banner Section Style*/
    .image {
        position: relative;
    }

    .image img {
        height: 483px;
        object-fit: cover;
        border-radius: 8px;
    }

    .banner {
        padding-top: 10px;
    }

    .banner-section {
        position: absolute;
        margin-top: 0px;
        left: 0;
        padding-right: 50px;
        text-align: center;
        transform: translate(0, 0);
    }

    .banner-head {
        align-items: center;
        padding-left: 50px;
    }

    .banner-section h3 {
        color: #FFF;
        font-size: 20px;
        align-items: center;
        text-align: center;
        font-weight: 800;
        padding-bottom: 10px;

    }

    .banner-section p {
        color: #FFF;
        align-items: center;
        font-size: 10px;
        font-weight: 400;
    }

    .input-content {
        flex-direction: column;
        padding: 40px;
        margin-left: 50px;
    }

    input {
        height: 30px;
        width: 120px;
        border-radius: 8px;
        border: none;
        text-align: center;
        background-color: #FFF;
    }

    /*Tour Section Styles*/
    .tour-section {
        flex-direction: column;
        margin-top: 0;
    }

    .tour-text,
    .tour-image {
        width: 100%;
        margin-top: 15px;
    }

    .tour-text h3 {
        font-size: 20px;
    }

    .tour-text p {
        font-size: 14px;
    }

    /*Our Destination Section Styles*/
    .destination-text h {
        font-style: normal;
        font-size: 5px;
    }

    .destination-text p {
        padding: 0;
    }

    .destination {
        grid-template-columns: 1fr;
    }

    .first {
        grid-template-columns: 1fr;
    }

    .second {
        grid-template-columns: 1fr;
    }

    .third {
        grid-template-columns: 1fr;
        row-gap: 16px;
    }

    .img1,
    .img2,
    .img3,
    .img4,
    .img5,
    .img6,
    .img7 {
        width: 100%;
        row-gap: 0;
        height: 176px;
    }

    .img-div1 {
        position: absolute;
        top: 15%;
        left: 30%;
    }

    .img-div2 {
        position: absolute;
        top: 65%;
        left: 32%;
    }

    .img-div3 {
        position: absolute;
        top: 34%;
        left: 35%;
    }

    .img-div4 {
        position: absolute;
        top: 47%;
        left: 35%;
    }

    .img-div5 {
        position: absolute;
        top: 63%;
        left: 35%;
    }

    .img-div6 {
        position: absolute;
        top: 77%;
        left: 32%;
    }

    .img-div7 {
        position: absolute;
        top: 90%;
        left: 35%;
    }

    /*Choose Section Styles*/
    .choose-text {
        padding: 0;
        text-align: center;
    }

    .choose-text h4 {
        font-size: 15px;
    }

    .choose-text p {
        font-size: 10px;
    }

    .choose-card {
        grid-template-columns: 1fr;
        padding: 0;
        text-align: left;
        width: 100%;
    }

    .hotel {
        margin: 0;
        padding-top: 10px;
        text-align: left;
        width: calc(100% - 20px);
    }

    .map {
        margin: 0;
        padding: 0;
        text-align: left;
        width: 100%;
    }

    .price {
        margin: 0;
        padding-top: 10ox;
        text-align: left;
        width: calc(100% - 20px);
    }

    /*Upcoming Tour Section Styles*/
    .upcoming-tour {
        text-align: center;
        padding: 0;
    }

    .upcoming-tour h3 {
        font-size: 15px;
    }

    .upcoming-tour p {
        font-size: 10px;
        padding: 0
    }

    .upcoming-list {
        grid-template-columns: 1fr;
        overflow-x: hidden;
    }

    .upcoming-image1,
    .upcoming-image2,
    .upcoming-image3 {
        width: 100%;
        padding: 0;
    }

    .upcoming-list2 {
        grid-template-columns: 1fr;
        overflow-x: hidden;
    }

    .upcoming-image4,
    .upcoming-image5,
    .upcoming-image6 {
        width: 100%;
        padding: 0;
    }

    /*Simple Perfect Place Section Styles*/
    .simple-perfect-place {
        flex-direction: column;
        width: 100%;
        overflow-x: hidden;
    }

    .perfect-text {
        width: 100%;
    }

    .perfect-text h3 {
        font-size: 15px;
    }

    .perfect-text p {
        font-size: 10px;
    }

    .perfect-text ul>li {
        font-size: 8px;
    }

    .perfect-img {
        width: 100%;
    }

    .perfect-img h3 {
        font-size: 15px;
    }

    .perfect-img img {
        width: 100%;
        margin-top: 15px;
        padding: 0;
    }

    .frame1 {
        top: 75%;
    }

    .frame1 p {
        top: -10%;
    }

    .volume {
        top: 75%;
        left: 70%;
    }

    .max {
        top: 75%;
        left: 80%;
    }

    .frame2 {
        top: 75%;
        left: 90%;
    }

    /*News Letter Section*/
    .newsletter {
        flex-direction: column;
    }

    .news-text {
        width: 100%;
    }

    .news-picture {
        width: 100%;
    }

    .news-img img {
        width: 100%;
    }

    .news-discount {
        width: 214.023px;
        height: 79.268px;
        transform: rotate(-19.628deg);
        text-align: center;
        color: #FFF;
        border-radius: 16px;
        top: 49%;
        left: 39%;
    }
    .news-discount h5{
        font-size: 21px;
    }
    /*Footer Section*/
    .footer-p{
        padding: 0;
    }
    .footer-line{
        width: 100%;
    }
}